.body {
    height: 100vh;
}
.container-fluid {
    padding: 0;
}
/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

i {
    font-size: 1.25rem;
}

.badge-align{
    position: relative !important;
    left: -0.6em!important;
    top: -0.8em!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255,.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
    color: rgba(255,255,255,.9);
}

.nav-bg-color {
    background-color: #5a6ae8;
}

.navbar {
    padding: 0;
}

.bg-primary {
    background-color: #5a6ae8!important;
}

.lang {
    font-weight: 500;
    color: #000000;
}

sup .badge-success{
    background-color: #3cab94;
}

@media screen and (max-width: 991px){
    .nav-item i {
        font-size: 16px;
        width:20px;
    }
}

/* ------------------------------------- */
/* TABLE */
/* ------------------------------------- */

.content-container {
    background-color: #eff3f6;
    height: 75vh;
    padding-bottom: 3rem;
}

.content-container div h6 {
    font-weight: 700;
    font-size: -0.25rem;
}

.breadcrumb {
    margin-bottom: auto;
    margin-top: auto;
    background-color: inherit;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

.breadcrumb-item, .breadcrumb-item a {
    color: #707070;
    font-weight: 500;
}

.breadcrumb-item.active {
    font-weight: 500;
}

code {
    color: #3fa4f2;
} 

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #eff3f6;
}

.table-striped tbody tr {
    font-weight: 500;
}



@media screen and (min-width: 992px){
    .breadcrumb {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
}

@media screen and (min-width: 992px){
    .breadcrumb {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
}

/* ------------------------------------- */
/* FOOTER */
/* ------------------------------------- */

footer {
    height: 10vh;
}

footer h6 {
    margin-bottom: 0;
}